<div>
  <p>コメント件数：<%= post.post_comments.count %></p>
  <% post.post_comments.each do |post_comment| %>
    <div style="display: flex; align-items: center;">
      <span style="margin-right: 10px;">
        <%= image_tag post_comment.user.get_profile_image, size: "50x50" %>
      </span>
      <span style="margin-right: 10px;">
        <%= post_comment.user.nickname %>
      </span>
      <span style="margin-right: 10px;">
        <%= post_comment.comment %>
      </span>
      <span style="margin-right: 10px;">
        <%= post_comment.created_at.strftime('%Y/%m/%d') %>
      </span>
      <% if post_comment.user == current_user %>
        <span>
          <%= link_to "削除する", post_post_comment_path(post_comment.post, post_comment), method: :delete, remote: true, class: "comment-link" %>
        </span>
      <% end %>
      <div class="report-btn text-right ml-2" id="report-btn-<%= post_comment.id %>">
      　<%= render "user/reports/report_btn", comment: comment %>
      </div>
    </div>
  <% end %>
</div>

<div>
  <%= form_with model: [post, post_comment], local: false do |f| %>
    <%= f.text_area :comment, rows: '3', placeholder:"コメントをここに入力", class: "w-50", id: "comment_textarea" %>
    <%= f.submit "コメントする" %>
  <% end %>
</div>
