<div class="container">
  <h1 class="mt-4 mb-4 text-center">
    <%= @user.nickname %>さんのペットたち
  </h1>
  <% if @pets.any? %>
    <div class="row">
      <% @pets.each do |pet| %>
        <div class="col-md-4 mb-4">
          <div class="card">
            <% if pet.image.attached? %>
              <%= image_tag pet.image, class: "card-img-top rounded-circle", size: "200x200" %>
            <% else %>
              <%= image_tag "no_image.jpg", class: "card-img-top rounded-circle", size: "200x200" %>
            <% end %>
            <div class="card-body">
              <h5 class="card-title text-center">
                <%= link_to pet.name, user_pet_path(@user, pet) %>
              </h5>
              <p class="card-text">性別: <%= pet.gender %></p>
              <p class="card-text">誕生日: <%= pet.birthday %></p>
              <p class="card-text">品種: <%= pet.kind %></p>
              <p class="card-text">紹介文: <%= truncate(pet.introduction, length: 20) %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p class="text-center">ペットが登録されていません。</p>
  <% end %>
  <% if @user == current_user %>
    <div class="text-center">
      <%= link_to "ペットを登録する", new_user_pet_path, class: "btn btn-primary" %>
      <%= link_to "マイページに戻る", user_path(current_user), class: "btn btn-secondary ml-2" %>
    </div>
  <% else %>
    <div class="text-center">
      <%= link_to "#{@user.nickname}さんのページに戻る", user_path(@user), class: "btn btn-secondary" %>
    </div>
  <% end %>
</div>
