<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2 class="mt-4 mb-4">新規会員登録</h2>
      <%= form_with model: @user, url: user_registration_path do |f| %>
        <%= render "user/shared/error_messages", resource: resource %>

        <div class="form-group">
          <%= f.label :nickname %>
          <%= f.text_field :nickname, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :password %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
        </div>

        <div class="text-center">
          <%= f.submit "登録する", class: "btn btn-primary" %>
        </div>
      <% end %>

      <%= render "user/shared/links" %>
    </div>
  </div>
</div>
