<% if @model == 'user' %>
    <h3>ユーザー検索ワード"<%= @content %>"</h3>
  <%= render 'admin/users/index', users: @records %>
<% elsif @model == 'post' %>
    <h3>投稿検索ワード"<%= @content %>"</h3>
  <%= render 'admin/posts/index', posts: @records %>
<% elsif @model == 'post_comment' %>
    <h3>コメント検索ワード"<%= @content %>"</h3>
  <%= render 'admin/post_comments/index', post_comments: @records %>
<% end %>