<!--投稿検索用ファイル-->


<div class="container">
  <div class="row">
    <% posts.each do |post| %>
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= link_to post.title, admin_post_path(post) %></h5>
            <!--投稿内容を30文字まで表示させる-->
            <p class="card-text"><%= strip_tags(post.content.to_s).truncate(30) %></p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <strong>ユーザーネーム：</strong>
              <%= link_to post.user.nickname, admin_user_path(post.user) %>
            </li>
            <li class="list-group-item">
              <strong>タグ：</strong>
              <% post.tags.each do |tag| %>
                <span class="badge badge-secondary"><%= tag.name %></span>
              <% end %>
            </li>
            <li class="list-group-item">
              <p>
                <%= link_to "#{post.post_comments.count}コメント", admin_post_path(post.id), class: "btn btn-sm btn-outline-secondary mr-3" %>
              </p>
            </li>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row justify-content-center">
    <% if posts.empty? %>
      <h3>該当する投稿は見つかりませんでした。</h3>
    <% end %>
  </div>
</div>