<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <strong>ユーザーネーム：</strong>
              <%= @post.user.nickname %>
            </div>
          </div>
          <% if @post.images.attached? %>
            <div class="row">
              <div class="col-6">
                <strong>投稿した画像：</strong>
              </div>
              <div class="col-6 text-center">
                <%= image_tag @post.images.variant(resize: "100x100") %>
              </div>
            </div>
          <% end %>
          <div class="row">
            <div class="col-6">
              <strong>タイトル：</strong>
              <%= @post.title %>
            </div>
          </div>
          <div class="row">
            <div class="col-6"><strong>本文：</strong></div>
            <%= @post.content %>
          </div>
          <div class="row">
            <div class="col-6">
              <strong>投稿日：</strong>
            </div>
            <div class="col-6">
              <%= @post.created_at.strftime('%Y/%m/%d') %>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <strong>タグ：</strong>
            </div>
            <div class="col-6">
              <% @post.tags.each do |tag| %>
                <%= tag.name %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-3">
      <%= link_to "削除", admin_post_path(@post), method: :delete, data: { confirm:"本当に削除しますか？" }, class:"btn btn-danger btn-block mt-2" %>
    </div>
  </div>
</div>

<%= render 'admin/post_comments/index', post_comments: @post.post_comments %>