<div class="text-right">
  <%= link_to "グループを作成する", new_group_path, class: 'btn btn-primary mr-5' %>
</div>

<div class="container px-5 px-sm-0">
  <h3>すべてのコミュニティ</h3>
  <div class="row">
    <% @groups.each do |group| %>
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <% if group.group_image.attached? %>
              <%= image_tag group.group_image, size: "150x150", class: "card-img-top", alt: "コミュニティ画像" %>
            <% else %>
              <%= image_tag 'no_image', size: "150x150", class: "card-img-top", alt: "デフォルト画像" %>
            <% end %>
            <h5 class="card-title"><%= link_to group.name, group_path(group) %></h5>
            <p class="card-text"><%= truncate(group.introduction, length: 30) %></p>
            <p class="card-text"><strong>参加人数: </strong><%= group.group_users.count + 1 %></p>
            <% if group.is_owned_by?(current_user) %>
              <%= link_to '編集する', edit_group_path(group), class: "group_#{group.id} btn btn-sm btn-success" %>
              <p>※このコミュニティのオーナーです</p>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
