<div class="container">
  <h3>通報一覧</h3>

  <div class="table-responsive">
    <table class="table table-bordered">
      <thead class="thead-dark">
        <tr>
          <th scope="col">通報ID</th>
          <th scope="col">会員名</th>
          <th scope="col">通報者</th>
          <th scope="col">通報理由</th>
          <th scope="col">対象のコンテンツ</th>
          <th scope="col">対応</th>
        </tr>
      </thead>
      <tbody>
        <% @reports.each do |report| %>
          <tr>
            <td><%= report.id %></td>
            <td><%= report.reported.nickname %></td>
            <td><%= report.reporter.nickname %></td>
            <td><%= report.reason_i18n %></td>
            <td><%= link_to '該当投稿', admin_post_path(report.content) %></td>
            <td><%= link_to '対応完了',  admin_report_path(report), method: :delete, data: { confirm:"対応完了として削除しますか？" }, class:"btn btn-danger btn-block" %></td>
          </tr>
        <% end %>
        <% if @reports.empty? %>
          <tr>
            <td colspan="6" class="text-center"><h3>通報はありません</h3></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
