<div class="container">
  <div style="max-width: 800px; margin: 0 auto;">
  <h1 style="text-align: center; margin-bottom: 20px;">編集画面</h1>

    <%= form_with model: @post, url: post_path(@post.id), method: :patch do |f| %>

      <div style="margin-bottom: 20px;">
        <%= f.label :title, "タイトル", class: "font-weight-bold" %>
        <%= f.text_field :title, class: "form-control", id: "post_title" %>
      </div>

      <div style="margin-bottom: 20px;">
        <%= f.label :content, "本文", class: "font-weight-bold" %>
        <%= f.rich_text_area :content, id: "post_content" %>
      </div>

      <div class="row">
        <div class="col-3 offset-9">
          <%= f.submit '保存', class: "btn btn-primary btn-block" %>
          <%= link_to "削除", post_path(@post), method: :delete, data: { confirm:"削除しますか？" }, class:"btn btn-danger btn-block mt-2" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
