<h1>新規投稿画面</h1>

<%= render 'user/posts/form', post: @post %>
<%= form_with model: @post do |f| %>

  <h4>タイトル</h4>
  <%= f.text_field :title %>

  <h4>本文</h4>
  <%= f.rich_text_area :content %>

  <%= f.submit '投稿する' %>

<% end %>

<script>
document.addEventListener("trix-attachment-add", function(event) {
  var attachment = event.attachment;
  if (attachment.file) {
    if (attachment.file.size > 10 * 1024 * 1024) {
      alert("画像のサイズは10MB以下にしてください。");
      attachment.remove();
    }
  }
});
</script>