<h1>新規投稿画面</h1>

<%= form_with model: @post do |f| %>

  <div class="check_box">
    <span>タグ</span>
    <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
      <div>
        <%= tag.label do %>
          <%= tag.check_box %>
          <%= tag.text %>
        <% end %>
      </div>
    <% end %>
  </div>

  <h4>タイトル</h4>
  <%= f.text_field :title %>

  <h4>本文</h4>
  <%= f.rich_text_area :content %>

  <%= f.submit '投稿する' %><p>※投稿後、画像はリサイズされます</p>

<% end %>
