<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <% if admin_signed_in? %>
      <a class="navbar-brand" href="#">ペットコミュニティ</a>
    <% else %>
      <%= link_to root_path, class: "navbar-brand" do %>
        ペットコミュニティ
      <% end %>
    <% end %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <% if admin_signed_in? %>
          <li class="nav-item">
            <%= link_to "ユーザーの投稿を確認する", admin_posts_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to "コメント一覧を確認する", admin_post_comments_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to "登録しているユーザーを確認する", admin_users_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link' %>
          </li>
        <% elsif request.fullpath.include?("/admin") %>
          <li class="nav-item">
            <%= link_to "新規登録", new_admin_registration_path, class: 'nav-link' %>
          </li>
        <% elsif user_signed_in? %>
          <li class="nav-item">
            <%= link_to user_path(current_user), class: 'nav-link' do %>
            <i class="fa-solid fa-user"></i>
            マイページ
            <% end %>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa-solid fa-bell"></i>通知
              <span class="badge badge-danger"><%= current_user.notifications.where(read: false).count %></span>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <% if current_user.notifications.where(read: false).any? %>
                <small class="dropdown-item disabled">直近5件の未読の通知を表示しています</small>
                <% current_user.notifications.where(read: false).limit(5).order(created_at: :desc).each do |notification| %>
                  <%= link_to notification.message, notification_path(notification), method: :patch, class: "dropdown-item" %>
                <% end %>
              <% else %>
                <span class="dropdown-item disabled">未読の通知はありません</span>
              <% end %>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa-solid fa-pen"></i>投稿
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to "投稿する", new_post_path, class: 'dropdown-item' %>
              <%= link_to "みんなの投稿一覧を見る", posts_path, class: 'dropdown-item' %>
              <%= link_to "いいねした投稿を見る", favorites_user_path(current_user), class: 'nav-link' %>
           </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa-solid fa-user-group"></i>コミュニティ
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to "すべてのコミュニティを見る", groups_path, class: 'nav-link' %>
              <%= link_to "参加しているコミュニティを見る", groups_user_path(current_user), class: 'nav-link' %>
           </div>
          </li>

          <li class="nav-item">
            <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link' do %>
            <i class="fa-solid fa-right-from-bracket"></i>
            ログアウト
            <% end %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "サイトについて", about_path, class: 'nav-link'  %>

          </li>
          <li class="nav-item">
            <%= link_to new_user_registration_path, class: 'nav-link' do %>
            <i class="fa-solid fa-user-plus"></i>
            新規投稿
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to new_user_session_path, class: 'nav-link' do %>
            <i class="fa-solid fa-right-to-bracket"></i>
            ログイン
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>
