<!DOCTYPE html>
<html>
  <head>
    <title>PetsCommunity</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/05b967b61a.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
  </head>

  <body class="d-flex flex-column min-vh-100">
    <div class="flex-grow-1">
      <% if flash[:notice] %>
        <div class="alert alert-success" role="alert" style="margin: 0;">
          <%= flash[:notice] %>
        </div>
      <% end %>

      <% if flash[:alert] %>
        <div class="alert alert-danger" role="alert" style="margin: 0;">
          <%= flash[:alert] %>
        </div>
      <% end %>

      <%= render 'layouts/header' %>
      <main class="my-3">
        <div class="d-flex justify-content-end mb-2 mt-2 mr-4">
          <%= render 'user/searches/form' %>
        <% if admin_signed_in? %>
          <%= render 'admin/searches/form' %>
        <% end %>
        </div>
        <div class="success-message"></div>
        <div>
          <%= yield %>
        </div>
      </main>
    </div>
    <foote>
      <p class="py-3 m-0 text-center logo" style="background-color: #BBFFFF;">ペットコミュニティ~</p>
    </footer>
  </body>
</html>
